# .NET Core
bin/
obj/

# User-specific files
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# IDE specific files
.vs/
.idea/
*.sln.iml

# Local development settings
appsettings.Development.json

# ChromeDriver (it's better to install this via package manager)
chromedriver.exe
drivers/
